.about-us {
  padding: 10px 30px 30px 27px;
}

.about-us__header {
  margin: 0 0 32px 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}

.about-us__list {
  padding: 0 0 0 2px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.about-us__item {

  &--flower {
    margin: 0 0 30px 0;

    &::before {
      content: url('../img/svg/iconno-feature-flower.svg');
      margin: 0 0 17px 9px;
      width: 32px;
      height: 37px;
      display: block;
    }
  }

  &--money {
    margin: 0 0 35px 0;

    &::before {
      content: url('../img/svg/iconno-feature-money.svg');
      margin: 0 0 26px 1px;
      width: 47px;
      height: 27px;
      display: block;
    }
  }

  &--heart {
    margin: 0 0 31px 0;
    
    &::before {
      content: url('../img/svg/iconno-feature-heart.svg');
      margin: 0px 0 21px 9px;
      width: 33px;
      height: 28px;
      display: block;
    }
  }

  &--ball {
    margin: 0 0 32px 0;

    &::before {
      content: url('../img/svg/iconno-feature-ball.svg');
      margin: 0 0 18px 5px;
      width: 35px;
      height: 34px;
      display: block;
    }
  }

  &--rocket {
    margin: 0 0 31px 0;

    &::before {
      content: url('../img/svg/iconno-feature-rocket.svg');
      margin: 0 0 27px -4px;
      width: 55px;
      height: 23px;
      display: block;
    }
  }

  &--gift {

    &::before {
      content: url('../img/svg/iconno-feature-gift.svg');
      margin: 0 0 20px 4px;
      width: 33px;
      height: 33px;
      display: block;
    }
  }
}

@media (min-width: 560px) {

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__item {
    min-width: 250px;
    flex-grow: 1;

    &--ball {
      order: 2;
    }

    &--money {
      order: 3;
    }

    &--rocket {
      order: 4;
    }

    &--heart {
      order: 5;
    }

    &--gift {
      order: 6;
    }
  }
}

@media (min-width: $tablet-width) {

  .about-us {
    padding: 44px 47px 30px 47px;
  }

  .about-us__header {
    margin: 0 0 49px 0;
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
  }

  .about-us__list {
    padding: 0;
  }

  .about-us__item {
    min-width: 334px;
    font-size: 20px;
    line-height: 22px;

    &--flower {
      margin: 0 0 58px 3px;
    }

    &--money {
      margin: 0 0 59px 3px;;

      &::before {
        margin: 0 0 26px 0;
      }
    }

    &--heart {
      margin: 0 0 0 3px;

      &::before {
        margin: 2px 0 22px 8px
      }
    }

    &--ball {
      margin: 2px 0 59px;

      &::before {
        margin: 0 0 18px 2px;
      }
    }

    &--rocket {
      margin: 0 0 59px 0;

      &::before {
        margin: 2px 0 27px -7px;
      }
    }

    &--gift {

      &::before {
        margin: 0 0 18px 2px;
      }
    }
  }
}

@media (min-width: 1150px) {

  .about-us {
    padding: 59px 225px 30px 212px;
  }

  .about-us__header {
    margin: 0 0 48px 8px;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__item {

    &--flower {
      margin: 0px 0 57px 13px;

      &::before {
        margin: 0 0 19px 9px;
      }
    }

    &--money {
      margin-left: 13px;

      &::before {
        margin: 0 0 27px 0;
      }
    }

    &--heart {
      margin-left: 13px;

      &::before {
        margin: 4px 0 23px 9px;
      }
    }

    &--ball {
      margin: 5px 0 57px 0px;

      &:before {
        margin: 0 0 19px 3px;
      }
    }

    &--rocket {
      margin-left: 0px;

      &::before {
        margin: 3px 0 28px -6px;
      }
    }

    &--gift {
      margin-left: 0px;

      &::before {
        margin: 0 0 20px 2px;
      }
    }
  }
}