.page-header {
  min-width: 260px;
  height: 80px;
  overflow: hidden;
}

.navigation__wrapper {
  padding: 21px 30px 0 30px;
  min-width: 260px;
  height: 57px;
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
}

.navigation__site-nav {
  opacity: 0;
  visibility: hidden;
}

.navigation__user-nav {
  opacity: 0;
  visibility: hidden;
}

.navigation__sales-wrapper {
  display: none;
}

.navigation-resize {
  height: 396px;
}

.navigation-show {
  opacity: 1;
  visibility: visible;
}

.navigation__button {
  padding: 6px 0 6px 0;
  width: 20px;
  height: 21px;
  position: absolute;
  top: 27px;
  right: 31px;
  border: none;
  background-color: $white;
  outline: none;
  cursor: pointer;
  z-index: 5;
}

.button__middle-row {
  width: 20px;
  height: 2px;
  display: block;
  background-color: $black;
  position: relative;
  transition: width 0.2s, background-color 0.3s 0.25s;
  
  &::before {
    content:"";
    width: 20px;
    height: 2px;
    background-color: $black;
    position: absolute;
    top: -6px;
    left: 0;
    transition: width 0.2s, transform 0.6s 0.2s;
  }

  &::after {
    content:"";
    width: 20px;
    height: 2px;
    background-color: $black;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: width 0.2s, transform 0.6s 0.2s;
  }
}

.button-clicked {
  width: 22px;

  .button__middle-row {
    background-color: white;
  }

  .button__middle-row::before {
    width: 26px;
    transform: translateY(6px) rotate(45deg);
  }

  .button__middle-row::after {
    width: 26px;
    transform: translateY(-6px) rotate(-45deg);
  }
}

.no-js-btn {
  display: none;
}

.navigation__item {
  padding: 26px 30px 0 30px;
  height: 79px;
  position: relative;
  border-bottom: 1px solid $light-grey;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    color: $hover-item;
  }

  &:active {
    color: $active-item;
  }
}

.navigation__link {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-85px);
}

.navigation__search-label {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translateX(-85px);
  transition: opacity 0.8s;
}

.navigation__search-input {
  width: 100%;
  overflow: hidden;
  transition: opacity 0.8s;
}

.navigation__search-icon {
  position: absolute;
  top: 31px;
  left: 50%;
  transform: translateX(-127px);
  fill: $grey-icon;
  transition: opacity 0.8s;
}

.search-hide {
  opacity: 0;
  visibility: hidden;
}

.navigation__basket-icon {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-129px);
  fill: $grey-icon;
}

.navigation__item {

  &:hover {

    .navigation__search-icon {
      fill: $hover-icon;
    }

    .navigation__basket-icon {
      fill: $hover-icon;
    }
  }

  &:active {

    .navigation__search-icon {
      fill: $active-icon;
    }

    .navigation__basket-icon {
      fill: $active-icon;
    }
  }
}

.navigation__link-logo {

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {

  .page-header {
    width: 100%;
    height: 149px;
    overflow: visible;
    transition: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }

  .navigation {
    display: flex;
    flex-wrap: wrap;
  }

  .navigation__wrapper {
    padding: 22px 0 0 48px;
    min-width: 370px;
    height: 89px;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    position: static;
    border: none;
    border-bottom: 1px solid $light-grey;
    box-sizing: border-box;
    order: 1;
  }

  .navigation__button {
    display: none;
  }
  
  .navigation__link {
    display: inline;
    position: relative;
    left: initial;
    transform: initial;
    font-size: 15px;
    line-height: 24px;
  }

  .navigation__site-nav {
    margin-right: 29px;
    padding: 17px 0 0 49px;
    min-width: 317px;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    order: 3;
    opacity: 1;
    visibility: visible;
    transition: none;

      .navigation__link {
        font-weight: 700;
      }
  }

  .navigation__item {
    padding: 0;
    border: none;

    &--catalog {
      margin-right: 37px;
    }
  }

  .navigation__user-nav {
    width: 398px;
    height: 89px;
    display: flex;
    order: 2;
    opacity: 1;
    visibility: visible;
    transition: none;
    border-bottom: 1px solid $light-grey;
    box-sizing: border-box;
  }

  .navigation__item--search {
    width: 84px;
    height: 89px;
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
    box-sizing: border-box;
    border-bottom: none;
  }

  .navigation__item--basket {
    padding: 32px 0 0 83px;
    width: 314px;
    height: 89px;
    box-sizing: border-box;
    border-bottom: none;
    
    .navigation__link {
      font-size: 17px;
      line-height: 24px;
      font-weight: 700;
    }
  }

  .navigation__search-label {
    font-size: 0;
  }

  .navigation__search-icon {
    transform: translateX(-8px) translateY(5px);
  }

  .navigation__basket-icon {
    top: 33px;
    transform: translateX(-125px);
  }

  .navigation__sales-wrapper {
    display: inline-flex;
    padding: 17px 0 0 71px;
    width: 351px;
    order: 4;
    box-sizing: border-box;
  }

  .navigation__sales-nav {
    display: none;
  }
}

@media (min-width: $desktop-width) {

  .page-header {
    width: 1150px;
  }

  .navigation__logo {
    height: 72px;
  }

  .navigation__wrapper {
    padding: 8px 0 0 0;
    min-width: 148px;
    order: 3;
    flex-grow: 0;
  }

  .navigation__site-nav {
    margin: 0;
    padding: 0;
    min-width: 500px;
    height: 89px;
    order: 1;
    border-bottom: 1px solid $light-grey;
    border-left: 1px solid $light-grey;
    box-sizing: border-box;

      .navigation__link {
        font-size: 17px;
        line-height: 24px;
        font-weight: 700;
      }
  }

  .navigation__item--catalog {
    margin: 0;
    height: 89px;
    padding: 31px 36px 0 48px;
    border-right: 1px solid $light-grey;
    box-sizing: border-box;
  }

  .navigation__item--order {
    height: 89px;
    padding: 31px 75px 0 35px;
    box-sizing: border-box;
  }

  .navigation__user-nav {
    padding: 0 0 0 101px;
    min-width: 501px;
    order: 3;
    box-sizing: border-box;
    border-right: 1px solid $light-grey;
  }

  .navigation__item--basket {
    padding: 30px 0 0 83px;
  }

  .navigation__sales-wrapper {
    padding: 17px 50px 0 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    order: 4;
  }

  .navigation__sales-nav {
    display: flex;

      .navigation__item {
        padding: 0;
        border: none;

        &--new {
          margin-right: 60px;
        }
      }

      .navigation__link {
        font-size: 15px;
        line-height: 24px;
        font-weight: 700;
      }
  }
}