$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$bg-popup: rgba(255, 255, 255, 0.9);
$bg-services: rgb(249, 249, 249);
$grey: rgb(241, 241, 241);
$grey1: rgb(237, 237, 237);
$grey2: #cccccc;
$light-grey: #ececec;
$popup-border: #c7c7c7;
$grey-border-line: #e5e5e5;
$light-green: rgb(99, 209, 187);
$dark-green: rgb(86, 195, 178);
$hover-item: rgba(0, 0, 0, 0.6);
$active-item: rgba(0, 0, 0, 0.3);
$grey-icon: rgba(0, 0, 0, 0.2);
$hover-icon: rgba(99, 209, 187, 1);
$active-icon: rgba(99, 209, 187, 0.3);
$ghost-button-hover: rgb(68, 68, 68);
$ghost-button-active: rgb(124, 124, 124);

$tablet-width: 768px;
$desktop-width: 1150px;