$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$bg: rgb(241, 241, 241);
$light-grey: #ececec;
$light-green: rgb(99, 209, 187);
$dark-green: rgb(86, 195, 178);
$hover-item: rgba(0, 0, 0, 0.6);
$active-item: rgba(0, 0, 0, 0.3);
$grey-icon: rgba(0, 0, 0, 0.2);
$hover-icon: rgba(99, 209, 187, 1);
$active-icon: rgba(99, 209, 187, 0.3);
$product-of-week-btn: rgb(68, 68, 68);
$product-of-week-btn-active: rgb(124, 124, 124);

$tablet-width: 768px;
$desktop-width: 1150px;