@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Regular"), url("/fonts/opensans.woff") format("woff"), url("/fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold"), url("/fonts/opensansbold.woff") format("woff"), url("/fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Light"), url("/fonts/opensanslight.woff") format("woff"), url("/fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: black;
  background-color: white; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  margin: 0 auto;
  padding: 0 30px 0 30px; }

*, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

fieldset {
  padding: 0;
  border: none; }

.page-header {
  min-width: 260px;
  min-height: 80px; }

.navigation__wrapper {
  padding: 21px 30px 0 30px;
  min-width: 260px;
  height: 57px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec; }

.navigation__logo--mobile {
  width: 86px;
  height: 35px;
  fill: black; }

.navigation__logo--tablet {
  padding: 22px 0 20px 48px;
  width: 113px;
  height: 46px;
  fill: black;
  display: none; }

.navigation__list {
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: height 1s, opacity 1s 0.3s, visibility 1s 0.3s;
  transition: height 1s, opacity 1s 0.3s, visibility 1s 0.3s;
  overflow: hidden; }

.navigation-clicked {
  opacity: 1;
  height: 316px;
  visibility: visible; }

.navigation__button {
  padding: 6px 0 6px 0;
  width: 20px;
  height: 21px;
  position: absolute;
  top: 27px;
  right: 31px;
  border: none;
  background-color: white;
  outline: none; }

.button__middle-row {
  width: 20px;
  height: 2px;
  background-color: black;
  position: relative;
  -webkit-transition: width 0.2s, opacity 0.3s;
  transition: width 0.2s, opacity 0.3s; }
  .button__middle-row::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: -6px;
    left: 0;
    -webkit-transition: width 0.2s, -webkit-transform 0.6s 0.2s;
    transition: width 0.2s, -webkit-transform 0.6s 0.2s;
    transition: width 0.2s, transform 0.6s 0.2s;
    transition: width 0.2s, transform 0.6s 0.2s, -webkit-transform 0.6s 0.2s; }
  .button__middle-row::after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -6px;
    left: 0;
    -webkit-transition: width 0.2s, -webkit-transform 0.6s 0.2s;
    transition: width 0.2s, -webkit-transform 0.6s 0.2s;
    transition: width 0.2s, transform 0.6s 0.2s;
    transition: width 0.2s, transform 0.6s 0.2s, -webkit-transform 0.6s 0.2s; }

.button-clicked {
  width: 22px; }
  .button-clicked .button__middle-row {
    background-color: white; }
  .button-clicked .button__middle-row::before {
    width: 26px;
    -webkit-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg); }
  .button-clicked .button__middle-row::after {
    width: 26px;
    -webkit-transform: translateY(-6px) rotate(-45deg);
            transform: translateY(-6px) rotate(-45deg); }

.navigation__item {
  padding: 26px 30px 0 30px;
  height: 79px;
  position: relative;
  border-bottom: 1px solid #ececec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .navigation__item:hover {
    color: rgba(0, 0, 0, 0.6); }
  .navigation__item:active {
    color: rgba(0, 0, 0, 0.3); }

.navigation__link {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-85px);
          transform: translateX(-85px); }

.navigation__search-label {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-85px);
          transform: translateX(-85px); }

.navigation__search-input {
  opacity: 0; }

.navigation__search-icon {
  position: absolute;
  top: 31px;
  left: 50%;
  -webkit-transform: translateX(-127px);
          transform: translateX(-127px);
  fill: rgba(0, 0, 0, 0.2); }

.navigation__basket-icon {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-129px);
          transform: translateX(-129px);
  fill: rgba(0, 0, 0, 0.2); }

.navigation__item:nth-child(3):hover .navigation__search-icon,
.navigation__item:nth-child(4):hover .navigation__search-icon {
  fill: #63d1bb; }

.navigation__item:nth-child(3):hover .navigation__basket-icon,
.navigation__item:nth-child(4):hover .navigation__basket-icon {
  fill: #63d1bb; }

.navigation__item:nth-child(3):active .navigation__search-icon,
.navigation__item:nth-child(4):active .navigation__search-icon {
  fill: rgba(99, 209, 187, 0.3); }

.navigation__item:nth-child(3):active .navigation__basket-icon,
.navigation__item:nth-child(4):active .navigation__basket-icon {
  fill: rgba(99, 209, 187, 0.3); }

@media (min-width: 768px) {
  .page-header {
    height: 149px;
    overflow: visible; }
  .navigation__logo--mobile {
    display: none; }
  .navigation__logo--tablet {
    display: block; }
  .navigation__wrapper {
    padding: 0;
    min-width: 370px;
    height: auto;
    display: block;
    position: initial;
    border: none;
    border-bottom: 1px solid #ececec; }
  .navigation__button {
    display: none; }
  .navigation__list {
    position: initial;
    opacity: 1;
    overflow: visible;
    visibility: visible;
    -webkit-transition: none;
    transition: none; }
  .navigation__item {
    padding: 0;
    position: absolute;
    border: none; }
    .navigation__item:nth-child(1) {
      width: 133px;
      height: 20px;
      top: 105px;
      left: 48px; }
    .navigation__item:nth-child(2) {
      width: 140px;
      height: 20px;
      top: 105px;
      left: 217px; }
    .navigation__item:nth-child(3) {
      width: 84px;
      height: 88px;
      top: 0;
      right: 314px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec; }
      .navigation__item:nth-child(3) .navigation__search-label {
        font-size: 0; }
      .navigation__item:nth-child(3) .navigation__search-icon {
        top: 36px;
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px); }
    .navigation__item:nth-child(4) {
      padding: 32px 0 0 83px;
      width: 314px;
      height: 88px;
      top: 0;
      right: 0; }
      .navigation__item:nth-child(4) .navigation__link {
        font-size: 17px;
        line-height: 24px; }
      .navigation__item:nth-child(4) .navigation__basket-icon {
        top: 35px;
        -webkit-transform: translateX(-125px);
                transform: translateX(-125px); }
  .navigation__link {
    display: inline;
    position: initial;
    -webkit-transform: initial;
            transform: initial;
    font-size: 15px;
    line-height: 24px; } }

/*# sourceMappingURL=style.css.map */
